.kep-login-facebook {
    width: 100%;
    text-transform: uppercase!important;
    margin-bottom: 0.5rem!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif!important;
    font-size: 1.25rem!important;
    font-weight: 400!important;
    line-height: 1!important;
    border: 1px solid #0d6efd!important;
    border-radius: 0.5rem!important;
    background-color: #0d6efd!important;
    padding: 0.8rem!important;
}